@import 'src/styles/vars';

.settings {
  position: absolute;
  right: 3rem;
  top: 3rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1em;

  .settings-pseudo {
    height: 2em;
    padding: 0.2em;
    border: 1px solid $lightColor;
  }
}